<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小牛博客|后台管理</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js" language="JavaScript"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" language="JavaScript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
<!--导航-->
<div th:insert="~{admin/_fragment::nav(1)}"></div>
<div class="ui attached secondary segment list-publish">
    <div class="ui container">
        <a href="#" class="ui button"><i class="th icon"></i> 列表</a>
        <a href="#" class="ui button active"><i class="plus icon"></i> 发布</a>
    </div>
</div>
<!--中间部分-->
<div class="ui container">
    <!--  中间头部表单部分  -->
    <form class="ui form padded segment blogs-center" action="/admin/blogs/search" method="get">
        <div class="fields">
            <div class="field">
                <input type="text" name="title" placeholder="标题">
            </div>
            <div class="field">
                <div class="ui dropdown selection">
                    <input type="hidden" name="tag">
                    <div class="default text">分类</div>
                    <i class="dropdown icon" onclick="form_dropdown()"></i>
                    <div class="menu">
                        <div th:each="type:${types}" class="item" th:data-value="${type.id}" th:text="${type.name}"></div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="recommend" id="recommend" data-value="1">
                    <!-- input和label id之间关联，可以点击label checkbox也会被选中  -->
                    <label for="recommend" class="label">推荐</label>
                </div>
            </div>
            <div class="field">
                <button type="button" class="ui teal button"><i class="search icon"></i><b>搜索</b></button>
            </div>
        </div>
    </form>
    <table class="ui called table blogs-center" th:fragment="table-container">
        <thead>
            <tr>
                <th> </th>
                <th>标题</th>
                <th>类型</th>
                <th>推荐</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="blog,blogStat:${blogPage.content}">
                <td th:text="${blogStat.count}"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.type.name}"></td>
                <td th:text="${blog.recommend?'是':'否'}"></td>
                <td th:text="${blog.updateTime}"></td>
                <td>
                    <a href="#" target="_blank" class="ui teal basic mini button">修改</a>
                    <a href="#" target="_blank" class="ui red basic mini button">删除</a>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="6">
                    <span th:if="${blogPage.totalPages>1}">
                        <a th:unless="${blogPage.first}" th:href="@{/admin/blog(page=${tagPage.number -1})}" class="ui button">上一页</a>
                        <a th:unless="${blogPage.last}" th:href="@{/admin/blog(page=${tagPage.number +1})}" class="ui button">下一页</a>
                    </span>
                    <a href="/admin/tags/input" class="ui right floated green button">添加</a>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
</body>
<script language="JavaScript">
    function nav_dropdown(){
        $("nav .ui.dropdown").dropdown();
    }
    function form_dropdown() {
        $("form .ui.dropdown").dropdown();
    }
    function page
</script>
</html>