<!DOCTYPE html>
<htm xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小牛博客|后台管理</title>
    <script src="/Jquery/jquery-1.12.4.js" language="JavaScript"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" language="JavaScript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<body>
<!--导航-->
<div th:insert="~{admin/navigation::nav(99)}"></div>
<!--中间部分-->
<br>
<br>
<br>
<br>
<div class="ui container" style="max-width: 600px !important;">
    <div class="ui success message segment">
        <h2>Hi!!!</h2>
        <p><span th:text="${session.user.username}"></span>，欢迎回到后台管理</p>
    </div>
    <div class="ui image">
        <img th:src="${session.user.avatar}" class="ui image">
    </div>
</div>
</body>
<script language="JavaScript">
    function nav_dropdown(){
        $("nav .ui.dropdown").dropdown();
    }
</script>
</htm>