body{
    background: url("../../images/blogs-input.png");
}
.admin-nav{
    padding-top: 0px !important;
    padding-bottom:0px !important;
}
.blogs-name{
    color: teal;
    letter-spacing: 2px;
    font-weight: bolder;
}
.blogs-center{
    max-width: 1000px !important;
    margin: 10px auto !important;
}
.input-center{
    max-width: 800px !important;
    margin: 100px auto !important;
}
.table-center{
    max-width: 800px !important;
    margin: 30px auto !important;
}
.list-publish{
    margin-bottom: 100px !important;
}
.operate-hint{
    max-width: 800px !important;
    margin: 0px auto !important;
}
