<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
</head>
<body>
<h1>错误页面</h1>
<div>
    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed Request url;'+${mUrl}" th:remove="tag"></div>
    <div th:utext="'Exception message:'+${mException.message}" th:remove="tag"></div>
    <ul th:remove="tag"><li th:each="st:${mException.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li></ul>
    <div th:utext="'--&gt;'" th:remove="tag"></div>
</div>
</body>
</html>