<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="ui inverted vertical segment footer-mp"  th:fragment="footer">
    <div class="ui container ">
        <div class="ui inverted divided center aligned grid stackable">
            <div class="three wide column">
                <img src="/images/wexing.jpg" class="ui rounded images footer-img">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div id="blogs">
                    <div class="ui inverted list footer-font" th:fragment="newBlog">
                        <a th:each="blog:${footerBlogs}" th:href="@{/blog/{id}(id=${blog.getId()})}" class="item" th:text="${blog.getTitle()}">今日疫情</a>
                    </div>
                </div>

            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">联系我们</h4>
                <div class="ui inverted list footer-font">
<!--                    #{}从messages.properties配置文件中取数据-->
                    <a href="#" class="item">Email:<span th:text="#{footer.email}"></span></a>
                    <a href="#" class="item">QQ:<span th:text="#{footer.qq}"></span></a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header">关于我</h4>
                <p class="item footer-font">这是我根据视频创建的Blog项目，第一次使用semantic ui，有点不太会用，还在熟悉过程挡中,继续加油</p>
            </div>
        </div>
        <div class="ui divider section"></div>
        <p class="footer-font link">zhengguoqiang © 2020· CC BY-NC-SA 3.0 · Blog · 服务器赞助: ucloud · 网站程序: springBoot · 赣ICP备20200308</p>
    </div>
</footer>
</body>
</html>