<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小牛博客</title>
    <script src="/Jquery/jquery-1.12.4.js" language="JavaScript"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" language="JavaScript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navigation.css">

</head>
<body>
<!-- stackable:可推叠 inverted:反转 secondary:灰色 grid:相当于bootstrap的row，分为16各 attached：使div之间的边框靠近-->
<!--  导航栏  -->
<div th:insert="~{navigation::nav(1)}"></div>
<!--  中间内容 stackable:可推叠 -->
<div class="ui container">
    <div class="ui stackable grid">
        <!--   中间左边     -->
        <div class="ui eleven wide column">
            <div class="ui segments">
                <!-- 中间的头部 -->
                <div class="ui top attached segment">
                    <span class="ui header teal">博客</span>
                    <span style="float: right">一共<h2 class="ui orange header index-center-display" th:text="${blogPage.totalElements}">14</h2>篇</span>
                </div>
                <!-- 中间的中间部分 -->
                <div class="ui index-center-center-padding segment" th:each="blog:${blogPage}">
                    <div class="ui grid stackable mobile reversed"><!-- mobile reversed 在移动端的时候反转了 -->
                        <div class="ui eleven wide column">
                            <h3><a th:href="@{/blog/{id}(id=${blog.id})}" class="header" th:text="${blog.title}">springBoot 的介绍</a></h3>
                            <p th:text="${blog.description}">Spring Boot 是由 Pivotal 团队提供的全新框架，其设计目的是用来简化新 Spring 应用的初始搭建以及开发过程。。。</p>
                            <div>
                                <span>
                                    <img src="https://i.picsum.photos/id/0/5616/3744.jpg" class="ui avatar image">
                                    <a href="#" th:text="${blog.user.nickname}">小牛</a>
                                </span>
                                <span class="index-center-bottom-font">
                                    <i class="alternate outline calendar icon"></i>
                                    <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-3-9</span>
                                </span>
                                <span class="index-center-bottom-font">
                                    <i class="eye icon"></i>
                                    <span th:text="${blog.views}">999</span>
                                </span>
                                <a href="#" target="_blank" class="ui teal basic label index-center-a-label" style="float: right"  th:text="${blog.type.name}">认知升级</a>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <img src="https://i.picsum.photos/id/0/5616/3744.jpg" th:src="${blog.firstPicture}" class="ui rounded image index-center-img">
                        </div>
                    </div>
                </div>
                <!-- 底部 -->
                <div class="ui bottom attached segment" th:if="${blogPage.totalPages>1}">
                    <a th:href="@{/(page=${blogPage.number - 1})}" class="ui teal mini basic button" th:unless="${blogPage.first}">上一页</a>
                    <a th:href="@{/(page=${blogPage.number + 1})}" class="ui teal  mini basic button" style="float: right" th:unless="${blogPage.last}">下一页</a>
                </div>
            </div>
        </div>
<!--        中的左边部分               -->
        <div class="ui five wide column">
            <!-- 分类 -->
            <div class="ui segments index-right-margin">
                <div class="ui secondary segment">
                    <div class="ui two column grid">
                        <div class="column">
                            <span class="teal"><i class="idea icon"></i>分类 </span>
                        </div>
                        <div class="right aligned column">
                            <a class="ui teal" th:href="@{/types/-1}">more<i class="angle double right icon"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui vertical fluid divided  menu">
                        <a class="item" th:each="type:${types}" th:href="@{/types/{id}(id=${type.id})}" >
                            <span th:text="${type.name}"></span>学习日志<div class="ui teal basic label" th:text="${type.blogs.size()}"></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 标签 -->
            <div class="ui segments index-right-margin">
                <div class="ui secondary segment">
                    <div class="ui two column grid">
                        <div class="column">
                            <span class="teal"><i class="tags icon"></i>标签 </span>
                        </div>
                        <div class="right aligned column">
                            <a class="ui teal" target="_blank" th:href="@{/tags/-1}">more<i class="angle double right icon"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <a th:each="tag:${tags}" th:href="@{/tags/{id}(id=${tag.id})}" class="ui teal basic label index-right-tag">
                        <span th:text="${tag.name}"></span><div class="detail" th:text="${tag.blogs.size()}">9</div>
                    </a>
                </div>
            </div>
            <!-- 最新推荐 -->
            <div class="ui segments index-right-margin">
                <div class="ui secondary segment">
                    <div class="column">
                        <span class="teal"><i class="bookmark icon"></i>最新推荐</span>
                    </div>
                </div>
                <div class="ui segment">
                    <a th:each="blog:${blogs}" th:href="@{/blog/{id}(id=${blog.id})}" class="index-right-new-font" th:text="${blog.title}">java基础中的集合框架</a>
                </div>
            </div>
            <!-- 二维码 -->
            <div class="ui segment index-right-margin">
                <h4 class="ui horizontal divider header">扫码支付</h4><!-- horizontal divider横分割线 -->
                <img src="/images/wexing.jpg" alt="" class="ui image centered" style="width: 120px">
            </div>
        </div>
    </div>
</div>
<!--  脚本  -->
<div th:insert="~{footer::footer}"></div>
</body>

<script type="text/javascript" th:inline="javascript">
    function dropdown(){
        $(".dropdown").dropdown();
    }
    $("#blogs").load(/*[[@{/footer/blog}]]*/"");
</script>

</html>